{
    "presets": [
		["@babel/env", {
			"targets": {
				"browsers": ["last 2 versions"],
				"node": "current"
			}
		}],
		"@babel/react"
	],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { legacy: true }],
        ["@babel/plugin-proposal-class-properties", { loose: true }]
    ]
}
