/* Change the color of the scrollbar track */
::-webkit-scrollbar-track {
  background: rgb(51, 51, 51) !important;
}

/* Change the color of the scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.54) !important;
  border: 1px solid rgb(51, 51, 51) !important;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.83) !important;
}
