
@Black25 : rgba(0,0,0, 0.25);	@White25 : rgba(255,255,255, 0.25);
@Black50 : rgba(0,0,0, 0.50);	@White50 : rgba(255,255,255, 0.50);
@Black75 : rgba(0,0,0, 0.75);	@White75 : rgba(255,255,255, 0.75);

@Blue:		#2853a2;
@Red:		#c30;
@Green:		#6a1;
@Lemon:		#fe1;
@Yellow:	#fc1;
@Orange:	#fa1;
@Purple:	#b04;
@Grey:		#777;
@Dark:		#444;

@buttonSpacing   : 2px;
@controlBoxWidth : 360px;
@buttonsHeight   : 40px;
@underBarHeight  : 180px;
@statsWidth      : 300px;


button:active,
button:focus,
button:active:focus {box-shadow:none;outline:none;}

body {font-family:calibri}

///#OnyxBlack	{background:linear-gradient(#666,#222,#222,#222,#222,#222,#222,#050505);}
///#DeepBlue	{background:linear-gradient(#18f,#017,#017,#017,#017,#017,#017,#005);}
                 
#OnyxBlack	{background:linear-gradient(@Dark, @Dark - 72);}
#DeepBlue	{background:linear-gradient(@Blue, @Blue - 72);}
#Graphite	{background:linear-gradient(#aaa , #aaa  - 72);}
                 
#AllBoxes {
	border:1px solid silver;
}

#AllButtons {
	height:@buttonsHeight;
	margin:@buttonSpacing / 2;
	color:white;
	background-color:#555;border:1px solid @Black50;border-radius:4px;
	float:left; &:last-child {float:none}
}

#NoSelect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.map-box {
	#AllBoxes;
	position:fixed;top:0px;left:-1px;bottom:200px;
	/// background:url(../assets/map.sample.png) center center;background-size:cover;
    width  : ~'calc(100vw - '@controlBoxWidth~' + 2px)';
    height : ~'calc(100vh - '@underBarHeight ~' + 1px)';

}
.underbar {
	#AllBoxes;
	display:block;margin:0px;padding:8px 15px;
	position:fixed;bottom:0px;left:@statsWidth - 2;
	border-radius:0px;
	/// background:url(../assets/map.sample.png) center center;background-size:cover;
    width  : ~'calc(100vw - '@controlBoxWidth~' - '@statsWidth~' + 4px)';
    height : @underBarHeight;
    background-color:black;
    color:mix(lime,green);
    font:13px consolas,monospace;
    overflow-x:hidden;
    overflow-y:scroll;
}
.stats {
	#AllBoxes;
	display:block;margin:0px;padding:0px;
	position:fixed;bottom:0px;left:-1px;
	border-radius:0px;
	background-color:#333;
    color:#ccc;
    font:13px consolas,monospace;
	width  : @statsWidth;
    height : @underBarHeight;
    border-right-color:#666;
    overflow:hidden;
    line-height:1.8;
    
    header {
    	margin-bottom:8px; /// keep some distance
    	background:linear-gradient(#444,#555);color:white;
    	border-bottom:1px solid black;
    	font:15px candara;
    	padding:5px 20px;
    	position:relative;
    	
    	button {
    		background:#111;padding:0px 11px 2px 11px;height:22px;
    		font:11px tahoma;box-shadow:none;
    		position:absolute;right:4px;top:3px;
    		color:silver;
    	}
    	
    }
    
    span {
    	display:inline-block;margin:-2px;padding:2px;border:1px solid black;
    	width:70px;text-align:right;
    	color:yellow;
    	background:#111;
    	line-height:1.1;
    }
    
    p {
    	margin-left:10px;
    	position:relative;top:1px;
    	display:inline-block;
    	font:12px tahoma;
    	letter-spacing:-1px;
    	color:mix(lime,orange);
    }
    
    .meters {
    	padding:7px 25px;
    	height:90px;
    }

	.button-bar {    
	    text-align:center;
	}
    button {
    	#AllButtons;
    	#OnyxBlack;
    	font:15px corbel;
    	padding:5px 20px;
    	box-shadow:0px 2px 11px -1px black;
    	border-color:black;
    }
    
}
.gm-style-iw * {
    display: block;
    width: 100%;
}
.gm-style-iw h4, .gm-style-iw p {
    margin: 0;
    padding: 0;
}
.gm-style-iw a {
    color: #4272db;
}

.control-box {
	#AllBoxes;
	background:#bbb;
	position:fixed;top:0px;bottom:0px;width:@controlBoxWidth;right:-1px;
	padding:8px;
	border-left:1px solid @Black50;
	
	.group-buttons {

		@Columns   : 3;
		@GapBefore : 0px;
		@FontSize  : 17px;
	
		padding-top:@GapBefore;
		button {
			#AllButtons;
			width:calc(~'100% / '@Columns~' - '@buttonSpacing);
			font-size:@FontSize;
			#OnyxBlack;
		}
	}
	.direct-buttons {

		@Columns   : 5;
		@GapBefore : 16px;
		@FontSize  : 25px;
		
		padding-top:@GapBefore;
		button {
			#AllButtons;
			width:calc(~'100% / '@Columns~' - '@buttonSpacing);
			background-color:@Blue;
			font-size:@FontSize;
			height:50px;
			#DeepBlue;
		}
		
		button.disabled {
			background:gray;
			opacity:0.6;
			cursor:default;
		}
		
	}
	.feature-switches {

		@Columns          : 3;
		@GapBefore        : 16px;
		@GapUnderCaptions : 7px;
		@FontSize         : 19px;

		padding-top:@GapBefore;
		padding-left:20px;
		padding-right:20px;
		.onoff {
		
			#NoSelect;
		
			width:calc(~'100% / '@Columns~' - '@buttonSpacing);
			margin:@buttonSpacing / 2;
			padding:1px 0px;
			display:inline-block;
			text-align:center;
			font-weight:bold;
			label {font-size:@FontSize;padding-bottom:@GapUnderCaptions;margin:0px;}
			button {font-size:@FontSize - 5}
			
			#SwitchHolder {
				max-width:80px;
				border:1px solid @Black25;
				border-radius:6px;
				background-color:#f4f4f4;
				margin:0px auto;
				button {border-radius:inherit;border-color:@Black25;margin:-1px;width:45px;height:32px;}
			}
			
			.switch-off {
				text-align:left;
				#SwitchHolder;
				button {
					background-color:#ddd; color:@Black50;
					span::before{content:"OFF"}
				}
			}
			
			.switch-on {
				text-align:right;
				#SwitchHolder;
				button {
					background-color:@Green - 22; color:white;
					span::before{content:"ON"}
				}
			}
			
		}
	}     
	.power-sliders {
	
		@FontSize      : 18px;
		@GapBefore     : 25px;


		label {
			display:block;
			margin-top:@GapBefore;
			margin-bottom:1px;
			font-size:@FontSize;
			text-align:center;
		}
		.encaps {
			background-color:black;
			padding:3px;
			height:37px;
			border-radius:7px;
		
		}
		.slider {
			background:black;border:none;
			margin-left:16px;
			margin-right:16px;
			margin-top:4px;
			cursor:pointer;
		}
		a {
			width:32px;
			height:32.3px;
			margin-left:-16px;
			outline:none;
			box-shadow:0px 6px 4px -3px white inset;
			border:1px solid @Black50;
			
			#Graphite;
		}
		
	}
	.command-buttons {

		@Columns       : 3;
		@GapBefore     : 25px;
		@FontSize      : 24px;
		@Height        : 90px;
		@ButtonSpacing : 4px;   /// override global
	
		padding-top:@GapBefore;
		button {
			#AllButtons;
			#OnyxBlack;
			width:calc(~'100% / '@Columns~' - '@ButtonSpacing);
			font-size:@FontSize;
			height:@Height;padding:0px 0px 5px 0px;
			line-height:1.15;
			border-radius:8px;
			margin:@ButtonSpacing / 2;
		}

	}
	
	button {
		#AllButtons;
	}
	
}

.ui-slider-handle {width:20px;}