name: Format check

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  prettier:
    name: Run formatting checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Caching
        uses: actions/setup-node@v6
      - name: Install
        run: npm install
      - name: Check formatting
        run: npm run format:check
